/*
  * Copyright (c) 2020 The ZMK Contributors
  *
  * SPDX-License-Identifier: MIT
  */

  #include <behaviors.dtsi>
  #include <dt-bindings/zmk/keys.h>
  #include <dt-bindings/zmk/bt.h>
  #include <dt-bindings/zmk/ext_power.h>

  / {
    keymap {
      compatible = "zmk,keymap";
  layer0 {
          bindings = <
          &kp TAB &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp BACKSPACE &kp ESCAPE &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMICOLON &kp ENTER &kp LEFT_SHIFT SC_LCPO &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT SC_RCPC &kp RIGHT_SHIFT &kp LEFT_ALT &kp LEFT_GUI OSL(2) &kp SPACE OSL(1) &kp RIGHT_ALT
          >;
        };layer1 {
          bindings = <
          &kp GRAVE &kp SINGLE_QUOTE KC_PERC KC_LCBR KC_RCBR KC_PIPE &kp F20 KC_AMPR KC_ASTR &kp MINUS &kp F20 &kp BACKSPACE &kp ESCAPE KC_DQUO KC_DLR KC_LPRN KC_RPRN KC_TILD &kp F20 &kp EQUAL KC_PLUS &kp MINUS KC_COLN &kp F20 &kp BACKSLASH KC_HASH KC_EXLM &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp F20 &kp F20 &kp F20 KC_LT KC_GT KC_QUES &kp F20 &kp LEFT_GUI &kp F20 KC_UNDS &kp F20 &trans &kp F20
          >;
        };layer2 {
          bindings = <
          &kp Q &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 RGUI(KC_C) RGUI(KC_V) &kp F20 &kp F20 &kp F20 &kp RIGHT_SHIFT &kp F20 &kp F20 &kp F20 &lt 3 KC_NO &kp LEFT_ALT &kp F20
          >;
        };layer3 {
          bindings = <
          QK_BOOT &kp F20 &kp F20 &kp F20 &kp F20 &kp C_VOLUME_UP &kp C_BRIGHTNESS_INC &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 RGB_TOG RGB_HUI RGB_SAI RGB_VAI &kp F20 &kp C_VOLUME_DOWN &kp C_BRIGHTNESS_DEC &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 RGB_MOD RGB_HUD RGB_SAD RGB_VAD &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp LEFT_GUI &trans &kp SPACE &kp ENTER &lt 0 KC_NO &kp RIGHT_ALT
          >;
        };
    };
  };
  
